body {
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none;
    height: 100vh;
}

#day {
    height: 5rem;
    width: 5rem;
    font-size: 20px;
    flex-direction: row;
}

#hour {
    height: 5rem;
    width: 5rem;
    font-size: 20px;
}

#minute {
    height: 5rem;
    width: 5rem;
    font-size: 20px;
}

#second {
    height: 5rem;
    width: 5rem;
    font-size: 20px;
}
